.post {
  position: relative;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .comment-list {
    max-height: 300px;
    overflow-y: auto;

    .comment-item {
      margin-bottom: 15px;
      background: white;
      box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);

      &.hide {
        & + .comment-list {
          display: none;
        }

        .hide-button {
          transform: rotate(180deg);
        }
      }

      p {
        padding: 15px 10px;
        margin: 0;
      }

    }

    .comment-list {
      max-height: none;
      padding: 0 0 0 15px;
      overflow: unset;
    }
  }

  .add-comment {
    padding: 10px;
  }

  .post-content,
  .comment-list,
  .post-write-comment {
    padding: 15px;
    margin-bottom: 20px;
    background-color: aliceblue;
  }

  .delete-post {
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    overflow: hidden;
    width: 25px;
    height: 25px;
    text-indent: 999999px;
    background: url('../../assets/cancel-button.png') no-repeat;
    background-size: 25px 25px;
    border: 0;
    cursor: pointer;
  }
}
